.container {

    width: 100vw;
    height: 100vh;

    background: linear-gradient(180deg, #0C0505 0%, #3A3535 47.92%, #5E5858 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu-container {
    display: flex;
    gap: 1rem;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
}

.methods-btns {
    all: unset;
    cursor: pointer;
    background-color: #5767C9;
    color: aquamarine;
    padding: 0.8rem 1.6rem;
    border-radius: 4px;
    font-size: 2rem;
    text-align: center;
    transition: background-color 0.3s;
}

.methods-btns:hover {
    background-color: blueviolet;
}