.header-container {
    display: flex;

    height: 20rem;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 10%;
}

.logo-txt-container {
    display: flex;
    align-items: center;
    gap: 3rem;
    height: 80%;
}

.sonic {
    height: 15rem;
}

.txt-logo {
    color: #5767C9;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
}

.txt-logo-active {
    color: aquamarine;
    font-size: 2.4rem;
    text-align: center;
    text-decoration: none;
}